/* Minimal CSS Reset */

html {
    box-sizing: border-box;
    font-size: 12px;
}
  
*, *:before, *:after {
    box-sizing: inherit;
}
  
body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}
  
ol, ul {
    list-style: none;
}
  
img {
    max-width: 100%;
    height: auto;
}

/* Default Style Colors */

:root {
    --background-color: black;
    --primary-color: white;
    --footer-color: color-mix(in srgb, var(--primary-color), transparent 75%);
}

/* Default Style */

@media (min-width: 576px) {
	html {
		font-size: 14px;
	}
}

@media (min-width: 768px) {
	html {
		font-size: 16px;
	}
}

@media (min-width: 992px) {
	html {
		font-size: 18px;
	}
}

@media (min-width: 1200px) {
	html {
		font-size: 20px;
	}
}

html {
    overflow: hidden;
    color: var(--primary-color);
    background-color: var(--background-color);
	font-family: 'Ubuntu Mono', sans-serif;
    letter-spacing: 1px;

    main {
        display: flex;
        padding: 0 30px;
        min-height: 100vh;
        user-select: none;
        position: relative;
        text-align: center;
        flex-direction: column;
        justify-content: center;
        font-family: 'Pixelify Sans', sans-serif;

        .intro {
            font-size: 7.5em;
            font-weight: 600;
            text-shadow: 5px 5px 0px rgba(0, 0, 0, .15);
        }

        .intro #title {
            opacity: 0;
            cursor: pointer;
            letter-spacing: -2px;
            animation: fade-in 0.8s forwards 0.2s;
            border-bottom: 3px solid rgba(255, 255, 255, .15);
        }
    
        .links {
            color: rgba(255, 255, 255, .15);
            padding-top: 20px;
            opacity: 0;
            font-size: 2.5em;
            font-weight: 600;
            vertical-align: top;
            animation: fade-in 0.8s forwards 1s;
            
        }

        .links a {
            color: var(--primary-color);
            margin-left: 0.25em;
            text-decoration: none;
            margin-right: 0.25em;
            text-shadow: 4px 4px 0px rgba(0, 0, 0, .15);
        }

        footer {
            left: 0;
            right: 0;
            bottom: 25px;
            display: flex;
            position: fixed;
            justify-content: center;
        }

        footer a {
            color: var(--footer-color);
        }
    }
}

/* Animation Keyframes */

@keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
}
